* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  header {
    position: relative;
  }
  
  body {
    font-family:'Times New Roman', Times, serif;
  }
  nav {
    background: skyblue;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 60px;
  }
  .logo {
    flex: 1;
    margin-left: 40px;
  }
  
  .logo h1 {
    letter-spacing: 2px;
    font-size: 40px;
    border: 3px ridge #050505;
    border-width: 4px;
    text-align: center;
   padding: 5px 10px;
   width: 370px;
  }
  .list-items {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
   }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.4s background;
    border: 3px ridge #050505;
    border-width: 4px;
    text-align: center;
   padding: 5px 10px;
   width: 200px;
  }
  
  .link:hover {
    color: rgb(238, 71, 149);
  }
  
  .main {
    background: rgba(207, 104, 104, 0.74);
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
  }
  
  .main-left {
    height: 100%;
    width: 50%;
  }
  .main-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-v {
    height: 30vw;
    width: 30vw;
  }
  
  .main-right p {
    font-size: 30px;
    padding-top: 20px;
  }
  
  .text {
    margin-left: 20%;
    padding-top: 34%;
  }
  
  .text span {
    font-size: 6vw;
    letter-spacing: 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .text p {
    font-size: x-large;
    padding-top: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 23px;
  }
  
  .right-bar {
    position: absolute;
    width: 60px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  
  .icons {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .icon-btn {
    margin-top: 20px;
    background: white;
    text-decoration: none;
    color: grey;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
  }
  
  .icon-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .search {
    position: absolute;
    color: white;
    top: 25px;
    font-size: 20px;
  }
  